body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 10px;
    accent-color: var(--color-accent)
  }

nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px solid oklch(80% 3% 200);
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color : var(--border-color);
}

nav a{
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

:root {
  --color-accent: oklch(0.55 0.2047 32.82);
  accent-color: var(--color-accent)
}

nav a:hover{
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

/*input, textarea, button{
  font: inherit;
}

label, input, textarea, button{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-block: 0.5em;
} */

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label{
  display: grid;
  grid-template-columns: subgrid;
}

form button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));

  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
  }

  h2 {
    margin: 0;
  }
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.resume{
  h2 {
    font-size: 200%;
    margin: 0;
  }
}

.contact {
  .contact-element{
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-inline-start: 1.5em;
  }
}

.education {
  max-width: fit-content;

  .college{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-inline-start: 1.5em;
  }
}

.experience{

  .job {
    font-size: 115%;
  }
}

.skills {
  display: flex;

  p {
    flex: 1;
    text-align: center;
    margin-top: 2.5em;
    margin-inline-end: 4em;
  }
}

html {
  color-scheme: dark;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font: inherit;
  font-size: 80%;
}

label option, label select{
  font-size: 80%;
  font: inherit;
}

#profile-stats, #stats {

  padding: 1rem;

  dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }

  dt {
    grid-row: 1;
    font-size: 95%;
    text-transform: uppercase;
    opacity: 0.55;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: -0.75rem;
  }

  dd {
    opacity: 1;
    grid-row: 2;
    margin: 0;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
  }
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}

.swatch {
  display: inline-block;
  width: 25px;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50%;
  row-gap: 0em;
  column-gap: 0em;
}

.legend{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 5fr));
  flex: 1;
}

.data-points {
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0.5em;
}

.container {
  display: flex;
  align-items: center;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(0.43 0.0069 19.55) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.tick {
  opacity: 0.25;
}

dl.info {
  display: grid;
  background-color: lightgray;
  border-radius: 10%;
  padding: 0.35em;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
  
  dd {
    margin-left: 0.1em;
    opacity: 1;
    font-weight: 550;
  }

  dt{
    opacity: 0.5;
  }
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

#language-breakdown {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 2.5em;

  dt {
    font-weight: bold;
    margin-right: -2.5em;
  }

  dd {
    flex: 1;
    padding-left: 0.8em;
  }
}

.dots circle{
  fill: var(--color-accent);
  @starting-style {
    r: 0;
  }
}

circle.selected {
  fill: var(--color);
}

#slider {
  display: flex;
  align-items: baseline;
  gap: 1em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

#slider label {
  display: flex;
  flex: 1;
  gap: 0.35em;
}

#commit-progress {
  flex-grow: 1;
  margin-top: 0.25em;
}

#commit-time {
  margin-left: auto;
  font-weight: 600;
  color: var(--color-accent);
}

#files {
  display: grid;
  grid-template-columns: 1fr 4fr;

  > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  dt {
    grid-column: 1;
  }

  dd {
    grid-column: 2;
  }
}

#files .loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: var(--color);
  border-radius: 50%;
}

#files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0.5em;
}

#files small {
  display: block;
  opacity: 0.55;
  margin-top: -0.25em;
}

#scrolly-1 {
  position: relative;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

#scatter-story {
  position: relative;
}

#scatter-plot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}
